<header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/manage">Manage</a></li>
    <li><button popovertarget="about">About</button></li>
    <div popover id="about">
      <h2>About</h2>
      <div class="accordion">
        <details name="category">
          <summary>Category</summary>
          <span>A category(or goal) is a set of paths that contribute to achieving a goal. All approaches you find towards your goal can be a category, for example, you can use Personal and Work as two categories of your life.</span>
        </details>
        <details name="category">
          <summary>Path</summary>
          <span>A path is a set of actions that contribute to completing a path. For example, For example, logic, epistemology and ethics are branches of philosophy, therefore they can be classified as paths of the philosophy category.</span>
        </details>
        <details name="category">
          <summary>Action</summary>
          <span>An action is a piece of the specified path. Like reading a "Introduction to Logic" book for the logic path, which gets you closer to learning philosophy.</span>
        </details>
      </div>
    </div>
  </ul>
</header>