<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('headCommons') %>
  <link rel="stylesheet" href="/index.css">
  <title>Homepage</title>
</head>
<body>
  <%- include('header') %>
  <main>
    <div class="headline">
      <h1>Goal manager</h1>
      <h3>List your goals - organize them - complete them.</h3>
    </div>

    <a href="/manage">Manage your categories</a>
  </main>
  <%- include('footer') %>
</body>
</html>