<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('headCommons') %>
  <link rel="stylesheet" href="/manage.css">
  <title>Inventory home</title>
</head>
<body>
  <%- include('header') %>
  <main>
    <h1>Select operation</h1>

    <div class="linktree">
      <a href="/manage/search">Search &#128269</a>
      <a href="/manage/insert">Insert &#128221</a>
      <a href="/manage/update">Update &#10004</a>
      <a href="/manage/delete">Delete &#128465</a>
    </div>
  </main>
  <%- include('footer') %>
</body>
</html>